/* =============
    Base
============= */
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.content-space-top{
    margin-top: 16px;

    @include md{
        margin-top: 24px;
    }

    @include lg{
        margin-top: 30px;
    }
}

.show-large{
    display: none;
    @include lg{
        display: block;
    }
}

.show-extra-large{
    display: none;
    @include xxl{
        display: block;
    }
}

.test-imgs{
    width: 100%;
}