/* =============
    Base
============= */
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none
    }
}



.header-footer-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header-footer . ";
 
    >div{
        grid-area: header-footer;
    }
}

.hero-sub-images{
    width: 15%;
}

.large-images{
    width: 100%;
}

.show-large {
    display: none;

    @include lg{
        display: block;
    }
}