/* =============
    Base
============= */
.header-footer-grid {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". header-footer . ";
}
.header-footer-grid > div {
  grid-area: header-footer;
}

.large-images {
  width: 100%;
}
