/* =============
    Header
============= */
header #logo-nav {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". logo-nav .";
}
header #logo-nav > div {
  grid-area: logo-nav;
}
header #logo-nav > div img {
  width: 300px;
}
header #search {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". search .";
}
header #search > div {
  grid-area: search;
}
