/* =============
   Gallery
============= */

#gallery{
   @include lg{
       display: grid;
       grid-template-columns: 16px auto 16px;
       grid-template-areas: ". gallery .";
   }

   @include xxl{
       grid-template-columns: auto 1200px auto;
   }

   ul{
       @include md{
           grid-area: gallery;
           display: grid;
           grid-template-columns: 50% auto;
       }

       @include lg{
           grid-template-columns: 60% auto;
       }

       @include xxl{
           grid-template-areas: 
           "g1 g2"
           "g1 g3";
       }

       #g1{
           @include xxl{
               grid-area: g1;
           }
       }

       #g2{
           @include xxl{
               grid-area: g2;
           }
       }

       #g3{
           @include xxl{
               grid-area: g3;
           }
       }
   }
}