/* =============
   New
============= */

#new{
   display: grid;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". new . ";

   >div{
       grid-area: new;

       ul{
         margin:0 ;
         padding:0 ;
       
         @include md{
            display:grid ;
            grid-template-columns:50% auto;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            "n1 n1 n2 n2"
            "n3 n3 n4 n4"
            ". n5 n5 ." ;
            gap: 16px;
         }

         @include lg{
            grid-template-columns:33.3%, 33.3%, auto;
            grid-template-columns: repeat(3);
            grid-template-areas:
            "n1 n1 n2 n2 n3 n3"
            ". n4 n4 n5 n5 ." 
         }

         li{
            list-style: none;

            #n1{
               grid-area: n1;
            }
            #n2{
               grid-area: n2;
            }
            #n3{
               grid-area: n3;
            }
            #n4{
               grid-area: n4;
            }
            #n5{
               grid-area: n5;
            }
         }
      }
   }
}