/* =============
    Header
============= */

header{
   #logo-nav{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
       >div{
            grid-area: logo-nav;
            img{
                width: 300px
            }
        }
    }

    #search{ 
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        >div{
            grid-area: search;
            form{
                input{
    
                }
            }
    
            button{
                img{
    
                }
            }
        }
    }
}